<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% if form_data %}
    <form name="Pay" method="post" action="https://tip.pay-trio.com/ru/" accept-charset="UTF-8">
        <input type="hidden" name="amount" value="{{ form_data.amount }}" />
        <input type="hidden" name="currency" value="{{ form_data.currency }}" />
        <input type="hidden" name="shop_id" value="{{ form_data.shop_id }}" />
        <input type="hidden" name="sign" value="{{ form_data.sign }}" />
        <input type="hidden" name="shop_invoice_id" value="{{ form_data.shop_invoice_id }}" />
        <input type="hidden" name="description" value="{{ form_data.description }}" />
        <input type="submit"/>
    </form>
    {% else %}
        <h1>No data to create form =(</h1>
    {% endif %}
</body>
</html>