<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Transaction Form</h1>
    {% if form_data %}
    <form method={{ form_data.method }} action={{ form_data.source }}>
        <input name="WMI_MERCHANT_ID" value="{{ form_data.data.WMI_MERCHANT_ID }}"/><br>
        <input name="WMI_PAYMENT_AMOUNT" value="{{ form_data.data.WMI_PAYMENT_AMOUNT }}"/><br>
        <input name="WMI_CURRENCY_ID" value="{{ form_data.data.WMI_CURRENCY_ID }}"/><br>
        <input name="WMI_PAYMENT_NO" value="{{ form_data.data.WMI_PAYMENT_NO }}"/><br>
        <input name="WMI_PTENABLED" value="{{ form_data.data.WMI_PTENABLED }}"/><br>
        <input name="WMI_SIGNATURE" value="{{ form_data.data.WMI_SIGNATURE }}"/><br>
        <input type="hidden" name="WMI_SUCCESS_URL" value="{{ form_data.data.WMI_SUCCESS_URL }}"/><br>
        <input type="hidden" name="WMI_FAIL_URL" value="{{ form_data.data.WMI_FAIL_URL }}"/><br>
        <input type="submit"/>
    </form>
    {% else %}
        <h1>No data to create form =(</h1>
    {% endif %}
</body>
</html>