<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link href="/static/css_custom/footer.css" rel="stylesheet" />
        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            <div id="footer" class="container text-center">&copy; Copyright 2016 by Dmitriy Kosse.</div>
        {% endblock %}
    </div>
</body>
</html>