{% extends "onbootstrap/base.html" %}
{% block content %}
    <div class="alert alert-success" role="alert">Вы успешно дочитали до этого места</div>
    <div class="alert alert-info" role="alert">Это ещё не конец статьи</div>
    <div class="alert alert-warning" role="alert">Читать мало, нужно всё применять на практике</div>
    <div class="alert alert-danger" role="alert">Да, это не смешно</div>
{% endblock %}